<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/error.css">
    <title>error</title>
  </head>
  <body>
    <main>
      <section>
        <h1><%= code %></h1>
        <h3><%= message %></h3>

      <form action="/" method="get">
        <button type="submit">Go Back To Home Page</button>
      </form>
      </section>
    </main>
  </body>
</html>
